<%- include("header") -%> 
    
    <div class="box" id="heading">
        <h1> <%= listTitle %> </h1>
    </div>

    <div class="box">
        
            <% for (i = 0; i < items_array.length ; i++ ){  %>   
                <div class="item">     
                <input type="checkbox" name="" id="">   
                <p> <%= items_array[i]  %> </p>   
                </div>
            <% }  %> 
        

        <form class="item" action="/" method="post">
            <!--<label for="new_item">New Item</label>-->
            
            <input type="text" name="new_item" id="" placeholder="New Item" autocomplete="off"> 
            <br>
            <button type="submit" name="list" value="<%= listTitle %>"> + </button>
        </form>
    </div>

<%- include("footer") -%> 
